<p>Welcome to the media manager, where you can, well... manage media.</p>

<div id="show_left">
<h1>Pictures!</h1>
  <%= link_to "View All", pictures_path %><br><br>
  <%= link_to "Add New", new_picture_path %>
<h1>Instagram!</h1>
  <%= link_to "View Instagram Photos", instagrams_path %>
</div>

<div id="show_right">
  <h1>Videos!</h1>
  <%= link_to "View All", videos_path %><br><br>
  <%= link_to "Add New", new_video_path %>
</div>