<h1>Instagram Photos</h1>

<div id="instagram_container">
  <% @html.each do |image| %>
      <div id="instagram_image">
        <% if request.user_agent.include?('iPhone') %>
            <a href="instagram://media?id=<%= image.id %>"><img src="<%= image.images.thumbnail.url %>"></a>
        <% else %>
            <a href="<%= image.link %>"><img src="<%= image.images.thumbnail.url %>"></a>
        <% end %>
        <a href="http://instagram.com/<%= image.user.username %>"><%= image.user.username %></a>
        <% if image.caption != nil %>
            <br><%= image.caption.text %>
        <% end %>
      </div>
  <% end %>
</div>